<div class="">
  <div class="box">
    <div class="form">
      <h2>Registro</h2>
      <div class="input">
        <div class="inputBox">
          <input type="text" placeholder="Nombre">
        </div>
        <div class="inputBox">
          <input type="email" placeholder="Correo electronico">
        </div>
        <div class="inputBox">
          <input type="password" placeholder="Contraseña">
        </div>
        <div class="inputBox">
          <input type="password" placeholder="Confirmar contraseña">
        </div>
        <div class="inputBox">
          <button type="submit" name="">Registrarse</button>
        </div>
      </div>
      <p class="forgot">Ya tienes una cuenta? <a href="login">Inicia sesion</a></p>

    </div>
  </div>
</div>
